<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Snapshot Summary</title>

    <style>
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/img/emoji-smile.svg" alt="smile emoji" height="30px">MoodMinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"  href="/new">Add Snapshot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/list">Entries</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
              </li>
            </ul>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log Out</button>
          </div>
        </div>
    </nav>

    <section class="gradient-background">
      <div class="container mt-5">

          <% const triggerIdsInDetails = details.map(snapshotdetail => snapshotdetail.trigger_id); %>

          <% for (let snapshotdetail of details ) { %>
              <% var enjoyment_level = snapshotdetail.enjoyment_level; %>
              <% var surprise_level = snapshotdetail.surprise_level; %>
              <% var contempt_level = snapshotdetail.contempt_level; %>
              <% var sadness_level = snapshotdetail.sadness_level; %>
              <% var fear_level = snapshotdetail.fear_level; %>
              <% var disgust_level = snapshotdetail.disgust_level; %>
              <% var anger_level = snapshotdetail.anger_level; %>
              <% var notes = snapshotdetail.notes; %>
              <% var timestamp = snapshotdetail.timestamp; %>
              <% var inputdate = new Date(timestamp); %>
              <% const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }; %>
              <% var formattedDate = inputdate.toLocaleDateString('en-GB', options); %>
              <% var formattedTime = inputdate.toLocaleTimeString(); %>
          <% } %>

          <h2 class="text-center"><%= formattedDate %> <%= formattedTime %> </h2>

          <!-- Heading for Sliders -->
          <div class="mb-3">
              <h4>Snapshot Summary</h4>
          </div>

          <!-- Range Sliders with Value Display -->
          
          <div class="mb-3">
              <label for="slider1" class="form-label">Enjoyment: <span id="slider1Value"><%= enjoyment_level %></span></label>
              <input type="range" class="form-range slider1" id="slider1" name="slider1" max="10" value="<%= enjoyment_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider2" class="form-label">Surprise: <span id="slider2Value"><%= surprise_level %></span></label>
              <input type="range" class="form-range slider2" id="slider2" name="slider2" max="10" value="<%= surprise_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider3" class="form-label">Contempt: <span id="slider3Value"><%= contempt_level %></span></label>
              <input type="range" class="form-range slider3" id="slider3" name="slider3" max="10" value="<%= contempt_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider4" class="form-label">Sadness: <span id="slider4Value"><%= sadness_level %></span></label>
              <input type="range" class="form-range slider4" id="slider4" name="slider4" max="10" value="<%= sadness_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider5" class="form-label">Fear: <span id="slider5Value"><%= fear_level %></span></label>
              <input type="range" class="form-range slider5" id="slider5" name="slider5" max="10" value="<%= fear_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider6" class="form-label">Disgust: <span id="slider6Value"><%= disgust_level %></span></label>
              <input type="range" class="form-range slider6" id="slider6" name="slider6" max="10" value="<%= disgust_level %>" disabled>
          </div>
          <div class="mb-3">
              <label for="slider7" class="form-label">Anger: <span id="slider7Value"><%= anger_level %></span></label>
              <input type="range" class="form-range slider7" id="slider7" name="slider7" max="10" value="<%= anger_level %>" disabled>
          </div>

          <!-- Button-Like Checkboxes - Allow Multiple Selection -->
          <div class="mb-3">
            <label for="checkboxGroup" class="form-label">What's been happening?</label>
            <div class="btn-group" role="group" aria-label="Checkbox Group" id="checkboxGroup">

            <input type="hidden" name="checkbox_value1" value="1">    
            <input type="checkbox" class="btn-check" id="checkbox1" name="checkbox1" <% if (triggerIdsInDetails.includes(1)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox1">Family</label>
            
            <input type="hidden" name="checkbox_value2" value="2">
            <input type="checkbox" class="btn-check" id="checkbox2" name="checkbox2" <% if (triggerIdsInDetails.includes(2)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox2">Work</label>
    
            <input type="hidden" name="checkbox_value3" value="3">
            <input type="checkbox" class="btn-check" id="checkbox3" name="checkbox3" <% if (triggerIdsInDetails.includes(3)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox3">Sleep</label>

            <input type="hidden" name="checkbox_value4" value="4">
            <input type="checkbox" class="btn-check" id="checkbox4" name="checkbox4" <% if (triggerIdsInDetails.includes(4)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox4">Exercise</label>
            
            <input type="hidden" name="checkbox_value5" value="5">
            <input type="checkbox" class="btn-check" id="checkbox5" name="checkbox5" <% if (triggerIdsInDetails.includes(5)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox5">Weather</label>
            
            <input type="hidden" name="checkbox_value6" value="6">
            <input type="checkbox" class="btn-check" id="checkbox6" name="checkbox6" <% if (triggerIdsInDetails.includes(6)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox6">Friends</label>
            
            <input type="hidden" name="checkbox_value7" value="7">
            <input type="checkbox" class="btn-check" id="checkbox7" name="checkbox7" <% if (triggerIdsInDetails.includes(7)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox7">Date</label>
            
            <input type="hidden" name="checkbox_value8" value="8">
            <input type="checkbox" class="btn-check" id="checkbox8" name="checkbox8" <% if (triggerIdsInDetails.includes(8)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox8">Study</label>
            
            <input type="hidden" name="checkbox_value9" value="9">
            <input type="checkbox" class="btn-check" id="checkbox9" name="checkbox9" <% if (triggerIdsInDetails.includes(9)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox9">Holiday</label>
            
            <input type="hidden" name="checkbox_value10" value="10">
            <input type="checkbox" class="btn-check" id="checkbox10" name="checkbox10" <% if (triggerIdsInDetails.includes(10)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox10">Volunteer</label>

            <input type="hidden" name="checkbox_value11" value="11">
            <input type="checkbox" class="btn-check" id="checkbox11" name="checkbox11" <% if (triggerIdsInDetails.includes(11)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox11">Healthy Food</label>

            <input type="hidden" name="checkbox_value12" value="12">
            <input type="checkbox" class="btn-check" id="checkbox12" name="checkbox12" <% if (triggerIdsInDetails.includes(12)) { %>checked <% } %> disabled>
            <label class="btn btn-outline-primary" for="checkbox12">Hungry</label>

          </div>

          <!-- Text Box after Button Group -->
          <div class="mb-3">
            <label for="textBox" class="form-label">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="3" readonly><%= notes %></textarea>
          </div>

       </div>
    </section>
   
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
    </script>

  </body>
</html>