<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="/style.css">
    <title>Snapshot Stats</title>
    <style>
    </style>

  </head>
  <body>

    <%- include('_navin') %>
    
    <section class="gradient-background">
      <div class="container mb-3">
        <h1 class="text-center">Emotion Tracking Over Time</h1>
        <div class="container mb-3">
          <canvas id="emotionChart" width="800" height="400"></canvas>
        </div>
      </div>
   
    </section>
    <section class="gradient-background">
      <div class="container mb-3">
        <h1 class="text-center">Top Triggers</h1>
        <div class="container mb-3">
          <canvas id="topTriggersChart" width="800" height="400"></canvas>
        </div>
      </div>
    </section>
  
    <script>
      // Fetching the data from the server
      const xdata = `<%- JSON.stringify(labels) %>`;
      const xlabels = JSON.parse(xdata);

      const ydata = `<%- JSON.stringify(data) %>`;
      const ylabels = JSON.parse(ydata);
      // Formatting timestamps into a more readable format
      const formattedLabels = xlabels.map(timestamp => {
      const date = new Date(timestamp);
      return new Intl.DateTimeFormat('en-GB', { dateStyle: 'short', timeStyle: 'short' }).format(date);
      });

      // Creating the chart
      const ctx = document.getElementById('emotionChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: formattedLabels,
              datasets: [
                {
                  label: 'Enjoyment Level',
                  data: ylabels.map(entry => entry[0]),
                  fill: false,
                  borderColor: ' #eaaf24',
                  tension: 0.1
                },
                {
                  label: 'Surprise Level',
                  data: ylabels.map(entry => entry[1]),
                  fill: false,
                  borderColor: '#3cafaf',
                  tension: 0.1
                },
                {
                  label: 'Contempt Level',
                  data: ylabels.map(entry => entry[2]),
                  fill: false,
                  borderColor: '#b76c51',
                  tension: 0.1
                },
                {
                  label: 'Sadness Level',
                  data: ylabels.map(entry => entry[3]),
                  fill: false,
                  borderColor: '#406aad',
                  tension: 0.1
                },
                {
                  label: 'Fear Level',
                  data: ylabels.map(entry => entry[4]),
                  fill: false,
                  borderColor: '#5b3988',
                  tension: 0.1
                },
                {
                  label: 'Disgust Level',
                  data: ylabels.map(entry => entry[5]),
                  fill: false,
                  borderColor: '#649941',
                  tension: 0.1
                },
                {
                  label: 'Anger Level',
                  data: ylabels.map(entry => entry[6]),
                  fill: false,
                  borderColor: '#a03d3e',
                  tension: 0.1
                }
          ]
      },
      options: {
          scales: {
              x: {
                  ticks: {
                      maxRotation: 60,  // Set max rotation to 0 degrees
                      minRotation: 60   // Set min rotation to 0 degrees
                  }
              },
              y: {
                  beginAtZero: true,
                  max: 10  // Set the maximum value for the y-axis
              }
          },
          plugins: {
              legend: {
                  labels: {
                      fontColor: 'black'  // Set legend label color to black
                  }
              }
          },
          elements: {
              point: {
                  pointStyle: 'rectRounded',
                  radius: 5,
                  backgroundColor: 'rgb(75, 192, 192)',  // Set point color
                  borderColor: 'rgb(75, 192, 192)',  // Set point border color
                  borderWidth: 2
              }
          },
          responsive: true,
          maintainAspectRatio: false,
          backgroundColor: 'white'  // Set the background color of the chart container to white
      }
  });

  //function to map trigger ids to trigger names
  function mapTriggerIdsToNames(triggerIds) {
    switch (triggerIds) {
      case 1:
        return 'Family';
      case 2:
        return 'Work';
      case 3:
        return 'Sleep';
      case 4:
        return 'Exercise';
      case 5:
        return 'Weather';
      case 6:
        return 'Friends';
      case 7:
        return 'Date';
      case 8:
        return 'Study';
      case 9:
        return 'Holiday';
      case 10:  
        return 'Volunteer';
      case 11:
        return 'Healthy Food';
      case 12:
        return 'Hungry';
      default:
        return`Trigger ${triggerIds}`;
    }
  }
  
  

  // Fetching the trigger data from the server
  const triggerLabels = <%- JSON.stringify(triggerLabels) %>;
  const triggerData = <%- JSON.stringify(triggerData) %>;

  //map trigger ids to trigger names
  const mappedTriggerLabels = triggerLabels.map(mapTriggerIdsToNames);

  const chartData = {
    labels: mappedTriggerLabels,
    datasets: [{
      label: 'Trigger Counts',
      data: triggerData,
      backgroundColor: 'rgba(75, 192, 192, 0.5)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1,
    }]
  };

      const config = {
        type: 'bar',
        data: chartData,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              title: {
                display: true,
                text: 'Triggers'
              }
            },
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Count'
              },
              ticks: {
                stepSize: 1,
                min: 0
              }
            }
          },
          plugins: {
            legend: { display: false },
            tooltip: { enabled: true },
            
          }
        }
      };

      const ctbar = document.getElementById('topTriggersChart').getContext('2d');
      const topTriggersChart = new Chart(ctbar, config);
    </script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>